Package: siakhooi-buildo
Version: 0.21.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: coreutils, bash, siakhooi-devutils, util-linux, sed, findutils
Architecture: amd64
Homepage: <https://github.com/siakhooi/buildo>
Description: powertoy for builder
